/*---------------------------------------------------------
                        Global Config
---------------------------------------------------------*/
:root {
    --dark-color: #22212b;
    --contrast-color: #215968;
	--light-color: #f8f9fa;
	--grey: #8f9296;
}
body {
	background: -webkit-linear-gradient(left, var(--dark-color), var(--contrast-color));
	overflow-x: hidden;
	margin:0;
}


/*---------------------------------------------------------
                        Text and layout
---------------------------------------------------------*/
textarea {
	overflow: hidden;
}
.register {
	width: 100%;
    margin-top: 10%;
    margin-bottom: 8rem;
}
.register-left{
    text-align: center;
    color: var(--light-color);
    margin-top: 4%;
}
.register-right{
    background: var(--light-color);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    font-weight: bold;
    color: var(--contrast-color);
}

/*---------------------------------------------------------
                        Animation
---------------------------------------------------------*/

.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 60%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


/*---------------------------------------------------------
                        Buttons
---------------------------------------------------------*/
button {
    text-align: center;
}
.buttonsCompile {
	flex-direction: column; 
	align-items: center;
}
.btnRegister:hover {
    background: var(--contrast-color);
}
.btnRegister span.mdi {
    font-size: 1.5rem;
}
.register-left h5 {
    font-weight: bold;
}
.inputfile {
	padding: .10%
}
.btnRegister { 
	margin: .2rem;
    border: none;
    background: var(--dark-color);
    color: var(--light-color);
    font-weight: 600;
    width: 48%;
	cursor: pointer;
	border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
#download {
	margin: 0rem;
	width: 100%;
	border-radius: 0rem 0rem 1.5rem 1.5rem;	
}
.disabled {
	cursor: not-allowed; 
	pointer-events: none; 
	background-color: var(--grey);
	color: var(var(--dark-color))
}
/*---------------------------------------------------------
                        Text Area
---------------------------------------------------------*/

.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-color: 3px solid var(--contrast-color);
    border-bottom: 1px solid var(--contrast-color);
    box-shadow: 0 3px 0 0 var(--contrast-color);
}
.active-amber-textarea.md-form label.active {
    color: var(--contrast-color);
}
.active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: var(--contrast-color);
}
#archivo-token {
	border-radius: .5rem .5rem 0rem 0rem;
}
/*------------------------------------------------------------------
            Tables 
------------------------------------------------------------------*/

.tables {
	margin-top: 5rem;
	margin-left: 0;
	margin-right: 0;
	color: var(--dark-color);
}
.titles {
	color: var(--light-color)
}
.tables table {
	background-color: var(--light-color);
}
/*------------------------------------------------------------------
            Footer 
------------------------------------------------------------------*/
/* The footer is fixed to the bottom of the page */
 
footer{
	position: fixed;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: var(--dark-color);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed h4{
	color: var(--light-color);
	margin: 0;
}
 
 
.footer-distributed h4 span{
	color: var(--contrast-color);
}
.footer-distributed h5 {
    color: var(--light-color);
    font-weight: bold;
}
/* Footer links */
 
.footer-distributed .footer-links{
	color: var(--light-color);
    margin: 0px;
    font-size: 25px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  var(--grey);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: var(--light-color);
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size: 20px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color: var(--contrast-color);
	text-decoration: none;;
}
 
 
/* Footer Right */

 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  var(--light-color);
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  var(--dark-color);
	border-radius: 2px;
 
	font-size: 25px;
	color: var(--contrast-color);
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}

@media (max-width: 550px) {
	.btnRegister {
		width: 100%;
	}
	.register-right {
		border-top-left-radius: 0% 0%;
		border-bottom-left-radius: 0% 0%;
	}
}